body{
font-family:Arial;
background:#0f0f0f;
color:white;
margin:0;
text-align:center;
}

header{
background:black;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.products{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:#1c1c1c;
padding:20px;
border-radius:10px;
width:220px;
}

button{
background:#00ff9d;
border:none;
padding:10px;
cursor:pointer;
}

.hero{
padding:100px;
}

.btn{
background:#00ff9d;
padding:10px 20px;
text-decoration:none;
color:black;
}
