body{

font-family:Arial;
text-align:center;
background:#f4f4f4;

}

.product{

background:white;
margin:20px;
padding:15px;
border-radius:10px;
display:inline-block;
width:250px;

}

.product img{

width:100%;
border-radius:10px;

}

button{

padding:10px;
border:none;
background:#0a84ff;
color:white;
cursor:pointer;
border-radius:5px;

}

input{

padding:10px;
margin:5px;
width:200px;

}
